* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #fff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-image: url(images/eu-map.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 1rem 2rem;
  height: 4rem;
  background-color: #1e3a5f;
  position: sticky;
  z-index: 10;
  top: 0;
}

.logo-wcs {
  width: 50px;
  height: auto;
}

.container {
  background-color: rgb(218, 218, 218);
  width: 80%;
  max-width: 700px;
  margin: 100px auto;
  padding: 20px;
  border-radius: 12px;
  border: 1px solid #c43109;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.header-page {
  font-size: 1rem;
  text-align: center;
  border-bottom: 1px solid black;
  padding-bottom: 15px;
}

.quiz-section-start {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
}

.start-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.start-section p {
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  padding-top: 15px;
}

.image-boussole {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 225px;
  padding-top: 35px;
  padding-bottom: 35px;
}

.navlinks {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  padding: 8px 15px;
  border-radius: 15px;
}
.navlinks:hover {
  background-color: #fff;
  color: black;
}

.btn-start {
  background-color: #1e3a5f;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  border: 0;
  border-radius: 20px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
  transition: transform 0.2s;
}
.btn-start:hover {
  background-color: #2d5487;
  color: #fff;
  transform: scale(1.03);
}

.quiz-section {
  display: none; /* Hide initially */
  background-color: rgb(242, 242, 242);
  width: 90%;
  max-width: 600px;
  margin: 25px auto 0;
  border-radius: 12px;
  padding: 30px;
}

.question {
  font-size: 1.2rem;
  font-weight: 600;
  color: black;
  margin-bottom: 15px;
  text-align: center;
}

.btn-choice {
  background: #e8e8e8;
  color: black;
  font-weight: 600;
  width: 100%;
  border: none;
  padding: 8px;
  margin: 8px 0;
  text-align: left;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s;
}
.btn-choice:hover:not([disabled]) {
  background: #1e3a5f;
  color: white;
}
.btn-choice:disabled {
  cursor: no-drop;
}

.btn-next {
  background-color: #1e3a5f;
  color: #fff;
  font-weight: 500;
  width: 150px;
  border: 0;
  border-radius: 12px;
  padding: 10px;
  margin: 20px auto 0;
  cursor: pointer;
  transition: transform 0.2s;
}
.btn-next:hover {
  background-color: #2d5487;
  color: #fff;
  transform: scale(1.03);
}

.quiz-section-finish {
  background-color: rgb(242, 242, 242);
  width: 80%;
  max-width: 500px;
  margin: 20px auto 0;
  border-radius: 10px;
  padding: 30px;
  flex-direction: column;
  align-items: center;
}

.final-score,
.final-message {
  font-size: 1rem;
  color: black;
  font-weight: 600;
  text-align: center;
}

.btn-play-again {
  /* display: block; */
  background-color: #c43109;
  color: white;
  font-weight: 500;
  width: 150px;
  border: 0;
  border-radius: 12px;
  padding: 10px;
  margin: 20px auto 0;
  cursor: pointer;
  transition: transform 0.2s;
}
.btn-play-again:hover {
  background-color: #c43109;
  transform: scale(1.08);
}

/* Footer qui reste en bas */
footer {
  background-color: rgba(30, 58, 95, 0.9);
  color: #fff;
  text-align: center;
  font-weight: 600;
  padding: 15px 10px;
  line-height: 1.6;
  border-top: 2px solid #c43109;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 1000;
}

/* will show if an answer is correct or incorrect */
.correct {
  background: #71de67;
}
.incorrect {
  background: #dc5959;
}
