* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #fff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-image: url(/images/eu-map.jpg);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 1rem 2rem;
  height: 4rem;
  background-color: #1e3a5f;
  position: sticky;
  z-index: 10;
  top: 0;
}

.logo-wcs {
  width: 50px;
  height: auto;
}

.container {
  background-color: rgb(218, 218, 218);
  width: 90%;
  margin: 50px auto;
  padding: 30px;
  border-radius: 15px;
  border: 0;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.header-page {
  font-size: 1rem;
  text-align: center;
  border-bottom: 1px solid black;
  padding-bottom: 15px;
}

.quiz-section-start {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
}

.start-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.start-section p {
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  padding-top: 15px;
}

.image-boussole {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  padding-top: 35px;
  padding-bottom: 35px;
}

.navlinks {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
}

.btn-start {
  background-color: #f23400;
  font-size: 1rem;
  font-weight: 600;
  border: 0;
  border-radius: 20px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
  transition: transform 0.2s;
}
.btn-start:hover {
  background-color: #972b0d;
  transform: scale(1.08);
}

.quiz-section {
  background-color: rgb(242, 242, 242);
  width: 90%;
  max-width: 600px;
  margin: 25px auto 0;
  border-radius: 12px;
  padding: 30px;
}

.question {
  font-size: 1rem;
  font-weight: 600;
  color: black;
  margin-bottom: 20px;
  text-align: center;
}

.btn-choice {
  background: #e8e8e8;
  color: black;
  font-weight: 500;
  width: 100%;
  border: none;
  padding: 10px;
  margin: 10px 0;
  text-align: left;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s;
}
.btn-choice:hover {
  background: #3d3d3d;
  color: white;
}

.btn-next {
  /* display: block; */
  background-color: #f23400;
  color: white;
  font-weight: 500;
  width: 150px;
  border: 0;
  border-radius: 12px;
  padding: 10px;
  margin: 20px auto O;
  cursor: pointer;
  transition: transform 0.2s;
}
.btn-next:hover {
  background-color: #972b0d;
  transform: scale(1.08);
}

.quiz-section-finish {
  background-color: rgb(242, 242, 242);
  width: 90%;
  max-width: 600px;
  margin: 25px auto 0;
  border-radius: 12px;
  padding: 30px;
}

.final-score, .final-message{
    font-size: 1rem;
    color: black;
    font-weight: 600;
    text-align: center;
}

.btn-play-again {
  /* display: block; */
  background-color: #f23400;
  color: white;
  font-weight: 500;
  width: 150px;
  border: 0;
  border-radius: 12px;
  padding: 10px;
  margin: 20px auto 0;
  cursor: pointer;
  transition: transform 0.2s;
}
.btn-play-again:hover {
  background-color: #972b0d;
  transform: scale(1.08);
}

footer {
  text-align: center;
  font-weight: bold;
  padding: 5px;
  line-height: 25px;
}
