* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #fff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    background-image: url(images/eu-map.jpg);
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 1rem 2rem;
    height: 4rem;
    background-color: #1e3a5f;
    position: sticky;
    z-index: 10;
    top: 0;
}

h1 {
    color: #ffffffd3;
}

.section {
    background-color: rgba(218, 218, 218, 0.9);
    width: 80%;
    max-width: 700px;
    margin: 100px auto;
    padding: 20px;
    border-radius: 12px;
    
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


footer {
    background-color: rgba(30, 58, 95, 0.9);
    color: #fff;
    text-align: center;
    font-weight: 600;
    padding: 15px 10px;
    line-height: 1.6;
   
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 1000;
}