* {
  box-sizing: border-box;
}

body {
  background-color: rgb(245, 237, 237);
  padding: 0;
  margin: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: rgb(6, 6, 63);
  font-weight: 500;
}

header {
  background-color: rgb(6, 6, 63);
  min-height: 50vh;
  border-bottom: 5px solid rgb(139, 101, 32);
}

.container-navbar {
  display: flex;
  justify-content: flex-end;
  padding: 15px 15px 0 0;
}

.navbar a {
  color: white;
  font-weight: bold;
  text-decoration: none;
  padding: 5px;
}

.logo img {
  width: 150px;
  height: 150px;
}

.main-title {
  color: rgb(139, 101, 32);
  text-align: center;
  font-size: 4.5em;
}

.second-title {
  color: rgb(139, 101, 32);
  text-align: center;
  font-size: 1.5em;
}

.text-content {
  text-align: center;
  margin-bottom: 20px;
  line-height: 1.6;
}

.first-image img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.presentation,
.voyage-nantes,
.grid-section {
  padding: 40px 20px;
}

.grid-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  margin: 0 10px 20px 10px;
}

.grid-section img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

footer {
  background-color: rgb(6, 6, 63);
  min-height: 20vh;
  border-top: 5px solid rgb(139, 101, 32);
  text-align: center;
  color: white;
  font-weight: 600;
}
